<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.datasource">java:global/jee-hibernate-multiple-user-connection-pool-1.0-SNAPSHOT/MyDataSource</property>
        <!--<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>-->
        <!--<property name="hibernate.connection.url">jdbc:postgresql://localhost:15432/postgres</property>-->
        <!--<property name="hibernate.connection.username">ti</property>-->
        <!--<property name="hibernate.connection.password">F$Cf7u)F</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">true</property>

        <!--<property name="hibernate.c3p0.min_size">5</property>-->
        <!--<property name="hibernate.c3p0.max_size">20</property>-->
        <!--<property name="hibernate.c3p0.timeout">300</property>-->
        <!--<property name="hibernate.c3p0.max_statements">50</property>-->
        <!--<property name="hibernate.c3p0.idle_test_period">3000</property>-->

        <mapping class="ru.lanit.RequestData"/>
    </session-factory>
</hibernate-configuration>